@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  overscroll-behavior: none;
  color: rgb(var(--foreground-rgb));
  font-family: Roboto Mono, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
